

<div>
  <ol class="breadcrumb">
    <li class="active">
      优惠费
    </li>
    <li class="active">
      新增
    </li>
    <li >
      <%= link_to '返回', discount_fees_path,:style=>"color:green" %>
    </li>
  </ol>
</div>

<%= render 'form' %>

